*{margin:0; padding:0; font-family:sans-sarif; } body{ width:720px%; hight:1020px;
overflow:hidden; Background:#645757;} h1{color:#C0C0C0; text-indent:0px; font-size:25px;
position:relatives; margin-top:-85%; } P{color:#808080;} h5{color:#C0C0C0;} .logo{margin-top:-125%;
height:25%; width:25%; } a{ background-color: #4CAF50; border: none; color: white;
padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block;
font-size: 16px;}
<!--
Visual Code Mobile
Developed By Manish Nirmal
App Available on Play Store :-
https://play.google.com/store/apps/details?id=lk.visual.code.mobile
YouTube :-
https://youtube.com/ManishNirmal
-->